.show-btn:hover {
   zoom: 110%;
}

.img:hover {
   zoom: 120%;
}

.bg-c {
   background-color: rgb(222, 236, 240);
   border-radius: 1em;

}

.p-div {
   border-radius: 0.5em;
   border-color: blue;
}